RewriteEngine On
# Ne pas réécrire si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Réécriture vers index.php
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [L,QSA]