header{
    background-color: #327497;
    border-radius: 10px;
    padding: 5px;
   
}
.text-nav{
    display: flex; 
    gap: 20px;
    margin-top: 10px;
    justify-content: justify;
    
}
.text-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  
}
.text-nav a:hover{
    color: #FEA82E;
}
.logo{
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  margin-right: 2rem;
  
}
.logo span {
  color: #000000;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 700;
}
.logo span1 {
  color: #FEA82E;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 700;
}
h1{
  font-weight: 700;
  color: #1a1a2e;
  margin-bottom: 2rem;
  border-left: 4px solid#FEA82E;
  padding-left:  2rem;
  margin: 20px 20px 20px 20px;
}
article {
  background-color: #fea72ec2;
  border-radius: 10px;
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  border-left: 4px solid #327497;
  box-shadow: #0000001c 0px 2px 4px;
}
footer {
  bottom: 0;
  background-color:#327497;;
  
  padding: 2rem;
  text-align: center;
}

footer a:hover {
  background-color: #2020cc;

}
footer a {
  color: white;
  
  text-decoration: none;
  font-size: 18px;
  padding: 10px 5px;
  
  background-color:#FEA82E;
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.container a{
  text-decoration: none;
  color: #1a1a2e;
  font-size: 18px;
  font-weight: 500;
}

/* Mobile */
@media (max-width: 480px){
  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .text-nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  article {
    padding: 0.8rem;
  }

  footer {
    padding: 1.2rem;
  }
  .logo {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .logo span {
    font-size: 1rem;
  }
  

  

}


/* Bouton footer */
.footer-btn {
  text-align: center;
}

.footer-btn a {
  display: inline-block;
  background-color: #FEA82E;
  color: white;
  text-decoration: none;
  font-weight: bold;
 
}

.footer-btn a:hover {
  background-color: #052231;
}
.imp {
  background-color: #ffffff1c;
  border-left: 4px solid #248703;
}
.imp h2, .imp strong {
  color: #3b9705;
  font-weight: 700;
}
.def {
  background-color: #ffffff1c;
  border-left: 4px solid #FEA82E;
}
.def h2, .def strong {
  color: #FEA82E;
  font-weight: 700;
}

.risques {
  background-color: #ffffff1c;
  border-left: 4px solid #e82e2e;
}
.risques h2, .risques strong {
  color: #e82e2e;
  font-weight: 700;
}